{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <table>
        <tr>
            <th><b>ID</b></th>
            <th><b>Name</b></th>
            <th><b>Email</b></th>
            <th><b>Department</b></th>
            <th><b>Date</b></th>
        </tr>
    </table>
    {% for user in users %}
    <table>
        <tr>
        <th> {{user['id']}} </th>
        <th> {{user['username']}} </th>
        <th> {{user['email']}} </th>
        <th> {{user['department']}} </th>
        <th> {{user['date_joined']}} </th>
        </tr>
    </table>
    {% endfor %}
{% endblock %}
